{% extends "base.html" %}
{% block title %}
    {% if lang == "ca" %}Inicia sessió{% else %}Iniciar sesión{% endif %}
{% endblock %}
{% block content %}
    <div class="content">
        <h1>
            {% if lang == "ca" %}Inicia sessió{% else %}Iniciar sesión{% endif %}
        </h1>
        <form method="post" action="/login/">
            <label for="correu_electronic">
                {% if lang == "ca" %}Correu electrònic{% else %}Correo electrónico{% endif %}
            </label>
            <input type="email" id="correu_electronic" name="correu_electronic" required>
            <label for="contrasenya">
                {% if lang == "ca" %}Contrasenya{% else %}Contraseña{% endif %}
            </label>
            <input type="password" id="contrasenya" name="contrasenya" required>
            <button type="submit" class="btn">
                {% if lang == "ca" %}Inicia sessió{% else %}Iniciar sesión{% endif %}
            </button>
        </form>
    </div>
{% endblock %}